.item-list {
	input {
		width: 100%;
		padding: 4pt;
		margin: 10pt 0;
		border: solid 1pt #ccc;
		border-radius: 4pt;
		outline: none !important;
	}
	ul {
		@include boxShadow();
		width: 100%;
		background: white;
		li {
			width: 100%;
			&:not(:last-child) {
				border-bottom: solid 1pt rgba(black, 0.2);
			}
			a {
				display: flex;
				align-items: center;
				&:hover {
					background: #f4f4f4;
				}
				& > *:not(.fav-star) {
					flex-grow: 1;
				}
				@media #{$mobile-only} {
					flex-direction: column;
					text-align: center;
				}
			}
		}
	}
}
