.login-page {
	align-self: center;
	.login-card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		max-width: 400pt;
		margin: auto;
		background: #f4f4f4;
		.site-logo {
			max-height: 100pt;
			max-width: 100%;
		}
	}
}
