.single-post-variables {
	padding: 10pt;
	background: #ddd;
	margin-bottom: 10pt;
	.map {
		display: grid;
		align-items: center;
		grid-template-columns: auto 1fr;
		grid-gap: 10pt;
	}
}

.server-content-preview {
	&.dark {
		background: #111;
	}
	& > *:not(.buttons) {
		display: block;
		left: 0;
		right: 0;
		margin: 8pt auto 0;
		max-width: 100%;
	}

	textarea {
		width: 100%;
		resize: vertical;
		height: 100pt;
	}

	& > *:last-child {
		margin-bottom: 8pt;
	}
}

.social-profile-list {
	li a:hover {
		background: transparent !important;
	}
	.social-profile-list-entry {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		button {
			padding: 4pt 6pt;
			cursor: pointer;
			&:hover {
				background: #ddd;
			}
		}
	}
}
