.team-list-entry {
	display: flex;
	align-items: center;
	.image-wrapper {
		height: 40pt;
		width: 60pt;
		display: flex;
		align-items: center;
		justify-content: center;
		img {
			max-height: 100%;
			max-width: 100%;
		}
	}

	@media #{$mobile-only} {
		flex-direction: column;
		text-align: center;
	}

	@media #{$desktop-and-tablet} {
		.image-wrapper {
			margin-right: 12pt;
		}
	}
}
